
<%= form_for(@service, :html => {:class=>  "form-horizontal form-label-left"}) do |f| %>
  <% if @service.errors.any? %>
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
          <div id="error_explanation">
            <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

            <ul>
            <% @service.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        </div>
  <% end %>


    <div class="item form-group">
        <%= f.label :name,  :class => "control-label col-md-3 col-sm-3 col-xs-12"%><span class="required">*</span>
        <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.text_field :name, :class => "form-control col-md-7 col-xs-12" %>
        </div>
    </div>



    <div class="item form-group">
    <%= f.label :selector, :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :selector,@deployments ,:id,:name, include_blank: false,  :class => "form-control col-md-7 col-xs-12" %>
      </div>
      </div>
    <div class="item form-group">

    <%= f.label :namespace , :class => "control-label col-md-3 col-sm-3 col-xs-12"%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :namespace, Kube.new.getNamespaces, :to_s, :to_s, include_blank: false,  :class => "form-control col-md-7 col-xs-12" %>
      </div>

      </div>
    <div class="item form-group">
    <%= f.label "Type of Service", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
    <div class="col-md-6 col-sm-6 col-xs-12">
    <%= f.select :tos, ['Internal', 'External'],:class => "form-control col-md-7 col-xs-12" %>
      </div>
      </div>
    <div class="item form-group">
    <span class="section">Ports</span>
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Service_port</th>
          <th>Target_port</th>
          <th>Protocol</th>
          <% if @service.persisted?%><th>Delete</th><% end %>
        </tr>

      <%= f.fields_for :service_ports do |port_form| %>
         <tr class="field">
          <td>  <%= port_form.text_field :name, :class => "form-control col-md-7 col-xs-12"%></td>
          <td>  <%= port_form.text_field :service_port, :class => "form-control col-md-7 col-xs-12"%></td><td>  <%= port_form.text_field :target_port, :class => "form-control col-md-7 col-xs-12"%></td>
          <td>  <%= port_form.select :protocol, ['TCP', 'UDP'], :class => "form-control col-md-7 col-xs-12"%></td>
          <% if @service.persisted?%><td><%= port_form.check_box :_destroy, :class => "form-control col-md-7 col-xs-12"%></td><% end %>
         </tr>

      <% end %>
      </table>
    </div>
    <div class="ln_solid"></div>
    <div class="item form-group">
      <%= f.submit "Add Service", class: 'btn btn-success'%>
      <%= link_to 'Back', services_path, class: 'btn btn-primary' %>
    </div>

<% end %>
