
<!-- page content -->
<%= render "partials/page_header_onetable" , locals: {title: "Services", xtitle:  "Editing Service" }%>


  <% unless notice.blank? %>
   <div class="alert alert-info alert-dismissible fade in" role="alert">
     <p id="notice"><%= notice %></p>
   </div>
  <% end %>
          <div class="x_content">

<div class="col-md-6 col-xs-12">
<%= render 'form' %>
</div>

       </div>
          </div>

      </div>
    </div>
  </div>
</div>
<!-- /page content -->

<!--Test Page specific JS -->
<!-- script> alert ('Test Page specific JS')</script -->



