<!-- page content -->
<%= render "partials/page_header_onetable" , locals: {title: "Services", xtitle:  "Services panel" }%>
<%= render "partials/flash" %>


          <div class="x_content">


<h1>Listing Services</h1>

<table class="table table-hover ">
  <thead>
    <tr>
      <th>Name</th>
      <th>ClusterIP</th>
      <th>State</th>
      <th>Selector</th>
      <th>Namespace</th>
      <th>Tos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.clusterIP %></td>
        <td><%= service.state %></td>
        <td><%= service.selector %></td>
        <td><%= service.namespace %></td>
        <td><%= service.tos %></td>
        <td><%= link_to 'Show', service, :class=>"btn btn-primary"  %></td>
        <td><%= link_to 'Edit', edit_service_path(service), :class=>"btn btn-info"  %></td>
        <td><%= link_to 'Destroy', service, :class=>"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path ,  class: 'btn btn-primary' %>
        </div>
          </div>

      </div>
    </div>
  </div>
</div>
<!-- /page content -->

<!--Test Page specific JS -->
<!-- script> alert ('Test Page specific JS')</script -->

