<%= render "partials/flash" %>
<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @service.state %>
</p>

<p>
  <strong>Selector:</strong>
  <%= @service.selector %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @service.slug %>
</p>

<p>
  <strong>Namespace:</strong>
  <%= @service.namespace %>
</p>

<p>
  <strong>Tos:</strong>
  <%= @service.tos %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
