<div class="right_col" role="main">
         <div class="">
            <div class="row top_tiles">
              <div class="animated flipInX col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-sun-o"></i></div>
                  <div class="count"><%= @services.count %></div>
                  <h3>Services</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
              </div>
              <div class="animated flipInX col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-wrench"></i></div>
                  <div class="count"><%= @deployments.count %></div>
                  <h3>Deployments</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
              </div>
              <div class="animated flipInX col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-desktop"></i></div>
                  <div class="count"><%= @pods_count %></div>
                  <h3>Pods</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
              </div>
              <div class="animated flipInX col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  
  				  	<%= @health.html_safe %>
					 
                  <h3>Cluster health</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
              </div>
            </div>

  <!-- top tiles -->
  <div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-code"></i> Namespaces</span>
      <div class="count red"><center><%= @namespaces.count %></center></div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-clock-o"></i> Replica Sets</span>
      <div class="count blue"><center>1</center></div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Replication Controllers</span>
      <div class="count">2</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Jobs</span>
      <div class="count">4</div>
      <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Events</span>
      <div class="count"><%= @events.count%></div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Ballancers</span>
      <div class="count green">7</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
    </div>
  </div>
  <!-- /top tiles -->
            <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Recent Activities <small>Logs</small></h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="dashboard-widget-content">
                    <ul class="list-unstyled timeline">
                      <% @activities.each do |event|%>
                          <li>
                            <div class="block">
                              <div class="tags">
                                <% if event.event_type == 'error' %>
                                    <a href="" class="tagalert"><span><%= event.type %></span></a>
                                <% else %>
                                    <a href="" class="tag"><span><%= event.type %></span></a>
                                <% end %>
                              </div>
                              <div class="block_content">
                                <h2 class="title">
                                  <%= event.message %>
                                </h2>
                                <div class="byline">
                                  <span><%= event.updated_at %></span> by <a>Jane Smith</a>
                                </div>
                              </div>
                            </div>
                          </li>
                      <% end %>
                      <li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
<div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Health of the system <small>nodes and components</small></h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div class="dashboard-widget-content">
                        <div class="col-md-10 hidden-small">

                          <table class="countries_list">
                            <tbody>
                                <tr>
  								  <td colspan="2"><h5>Components Status</h5></td> 
  							  </tr>
								<% @component_status.each do  |cc| %>
                              <tr>
                                <td style="padding-left:30px"><%= cc.metadata.name%></td>
								<% if cc.conditions[0].status%>
                                <td class="fs15 fw700 text-right green">OK</td>
								<% else %>
								<td class="fs15 fw700 text-right red"><%= cc.conditions[0].message.to_s%></td>
								<% end%>
                              </tr>
							  <% end %>
                              <tr>
								  <td colspan="2"><h5>Nodes status</h5></td> 
							  </tr>
							  <% @nodes.each do |node| %>
							  
                              <tr>
								  <td colspan="2" style="padding-left:20px"><h6><%= node.metadata.name%></h6></td>
								  
							  </tr>
							  <% node.status.conditions.each do |ss| %>
							  <tr >
							  	<td style="padding-left:30px"><%= ss.type%></td>
								<td><%= ss.message%></td>
							  </tr>
							  <%end%>
							  <% end %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

</div>
              </div></div></div>