  <% unless flash.blank? %>
    <% flash.each do |key, value| %>
        <div align="center" id="flash" class="alert alert-<%= key %> alert-info alert-dismissible fade in"><%= value %></div>
    <% end %>
  <% end %>