
<div class="main_container">

  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;">
        <a href="/" class="site_title"><i class="fa fa-paw"></i> <span>Kiki k8s</span></a>
      </div>
      <div class="clearfix"></div>
      <br/>
      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
          <ul class="nav side-menu">
            <li><a href = "/"><i class="fa fa-home"></i>Dashboard</a>
            </li>
            <li><a><i class="fa fa-desktop"></i>Kebernetes Elements</a>
              <ul class="nav child_menu" >
                <li>
					<%= link_to 'Deployments', deployments_path %>
                </li>
                <li>
					<%= link_to 'Services', services_path %>
                </li>
			
				<li><a href="/">Replica Sets</a></li>
				<li><a href="/">Replication Controllers</a></li>
				<li><a href="/">Pods</a></li>
				<li><a href="/">Events</a></li>
				
              </ul>
            </li>
          </ul>
        </div>
        <div class="menu_section">
          <h3><i class="fa fa-cogs"></i>Administration</h3>
          <!-- ul class="nav side-menu" -->
			  <ul class="nav child_menu" >
			  <li>
			  <%= link_to 'Namespaces', namespaces_path %>
			  </li>
              <li><a href="/">Balancers</a></li>
			<li><a href="/">Nodes</a></li>
          </ul>
        </div>

      </div>
      <!-- /sidebar menu -->

      <!-- /menu footer buttons -->
      <div class="sidebar-footer hidden-small">
        <a  title="Settings" href="/setting">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a  href="/lock" title="Lock">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true" ></span>
        </a>
        <a  title="Logout" href="/logout">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
      </div>
      <!-- /menu footer buttons -->
    </div>
  </div>
</div>
