global
    log /dev/log	local0
    log /dev/log	local1 notice
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon

defaults
    log	global
    mode	tcp
    option	tcplog
    option	dontlognull
    contimeout 5000
    clitimeout 50000
    srvtimeout 50000
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

<% for service in @services %><% for port in service.service_ports%><%if port.protocol == "TCP" or  port.protocol == "HTTP"%>
frontend <%= service.get_kubernetes_name%>_<%= port.name%>front
    bind *:<%= service.service_ports[0].service_port %>
    mode <%= port.protocol.downcase unless port.protocol.downcase=='udp' %>
    <% if port.protocol == 'HTTP' %>option httplog<% end %>
    default_backend <%= service.get_kubernetes_name%>_<%= port.name%>_backend

backend <%= service.get_kubernetes_name%>_<%= port.name%>_backend
    mode <%= port.protocol.downcase %>
    balance roundrobin
    <% if port.protocol == 'HTTP' %>option forwardfor<% end %>
    server <%= service.get_kubernetes_name%>_<%= port.name %> <%= service.clusterIP %>:<%= port.target_port %> check
<% end %><% end %><% end %>

