<%= form_for(@deployment, :html => {:class=>  "form-horizontal form-label-left"}) do |f| %>

  <% if @deployment.errors.any? %>
   <div class="alert alert-danger alert-dismissible fade in" role="alert">

      <h2><%= pluralize(@deployment.errors.count, "error") %> prohibited this deployment from being saved:</h2>
      <ul>
      <% @deployment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
   </div>
  <% end %>


    <div class="item form-group">
    <%= f.label "Deployment name", :class => "control-label col-md-3 col-sm-3 col-xs-12" %><span class="required">*</span>
      <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :name, :class => "form-control col-md-7 col-xs-12" %>
        </div>
  </div>
  <div class="item form-group">
    <%= f.label "Name of docker image", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
    <div class="col-md-6 col-sm-6 col-xs-12">
    <%= f.text_field :image , :class => "form-control col-md-7 col-xs-12"%>
      </div>
  </div>

    <div class="item form-group">
  <%= f.label "repository url", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
      <div class="col-md-6 col-sm-6 col-xs-12">
  <%= f.text_field :repository , :class => "form-control col-md-7 col-xs-12"%>
        </div>
  </div>

    <div class="item form-group">
      <%= f.label "Commit for build", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
      <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :commit , :class => "form-control col-md-7 col-xs-12"%>
      </div>
    </div>
  <div class="item form-group">
    <%= f.label "Number of pods", :class => "control-label col-md-3 col-sm-3 col-xs-12" %><span class="required">*</span>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= f.number_field :pods, :class => "form-control col-md-7 col-xs-12",:value =>1 %>
  </div>
  </div>
  <div class="item form-group">
    <%= f.label "Kubernetes namespace", :class => "control-label col-md-3 col-sm-3 col-xs-12" %><span class="required">*</span>
    <div class="col-md-6 col-sm-6 col-xs-12">
    <%= f.text_field :namespace , :class => "form-control col-md-7 col-xs-12",:value =>"default"%>
      </div>
  </div>
   <div class="item form-group">
    <%= f.label "Container Port", :class => "control-label col-md-3 col-sm-3 col-xs-12" %><span class="required">*</span>
    <div class="col-md-6 col-sm-6 col-xs-12">
    <%= f.text_field :containerPort, :class => "form-control col-md-7 col-xs-12" %>
      </div>
  </div>
  <div class="item form-group">
    <%= f.label "Version", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
    <div class="col-md-6 col-sm-6 col-xs-12">
    <%= f.text_field :version, :class => "form-control col-md-7 col-xs-12" %>
      </div>
  </div>
  <div class="item form-group">
    <%= f.label :description, :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
    <div class="col-md-6 col-sm-6 col-xs-12">
    <%= f.text_area :description , :class => "form-control col-md-7 col-xs-12"%>
      </div>
  </div>

  <div class="item form-group">
    <span class="section">Environment variables</span>
    <table class="table">
  <tr>
    <th>Key</th>
    <th>Value</th>
     <% if @deployment.persisted?%>
        <th>Delete</th>
    <% end %>
  </tr>

    <%= f.fields_for :environment_variables do |env_form| %>
        <tr class="field">

        <td>  <%= env_form.text_field :env_key, :class => "form-control col-md-7 col-xs-12"%></td>
        <td>  <%= env_form.text_field :env_value, :class => "form-control col-md-7 col-xs-12"%></td>
        <% if @deployment.persisted?%>
          <td><%= env_form.check_box :_destroy, :class => "form-control col-md-7 col-xs-12"%></td>
          <% end %>
        </tr>

    <% end %>
</table>
    </div>

    <span class="section">Labels</span>
    <table class="table">
    <tr>
      <th>Key</th>
      <th>Value</th>
      <% if @deployment.persisted?%>
      <th>Delete</th>
      <% end %>
    </tr>
      <%= f.fields_for :labels do |label_form|  %>
          <tr class="field">

          <td>  <%= label_form.text_field :label_key, :class => "form-control col-md-7 col-xs-12"%></td>
          <td>  <%= label_form.text_field :label_value, :class => "form-control col-md-7 col-xs-12"%></td>
           <% if @deployment.persisted?%>
            <td><%= label_form.check_box :_destroy, :class => "form-control col-md-7 col-xs-12"%></td>
            <% end %>
          </tr>
      <% end %>
    </table>
<div class="ln_solid"></div>
  <div class="item form-group">
    <%= f.submit "Add Deployment", class: 'btn btn-success'%>
    <%= link_to 'Back', deployments_path, class: 'btn btn-primary' %>
  </div>
<% end %>
