<!-- page content -->
<%= render "partials/page_header_onetable" , locals: {title: "Deployment", xtitle:  "Deployment panel" }%>

<%= render "partials/flash" %>

          <div class="x_content">

                    <table class="table table-hover ">
                      <thead>


            <tr>
              <th>Name</th>
              <th>Image</th>
              <th>Repository</th>
              <th>Pods</th>
              <th>Namespace</th>
              <th>Version</th>
              <th>State</th>
              <th colspan="1"></th>
            </tr>
            </thead>

            <tbody>
            <% @deployments.each do |deployment| %>
                <tr>
                  <td><%= deployment.name %><br/>
                  <%deployment.getLabels.each do |key, value| %>
                    <span class="label label-default"><%= key%>:<%= value%></span>
                    <% end %>
                  </td>
                  <td><%= deployment.image %></td>
                  <td><%= deployment.repository %><br/><%= deployment.commit %></td>
                  <td><%= deployment.pods %></td>
                  <td><%= deployment.namespace %></td>
                  <td><%= deployment.version %></td>
                  <td><%= deployment.state %></td>
                  <td>
                    <%= link_to 'Show', deployment, :class=>"btn btn-primary" %>
                  <%= link_to 'Edit', edit_deployment_path(deployment) , :class=>"btn btn-info" %>
                  <%= link_to 'Destroy', deployment, :class=>"btn btn-danger",  method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
            </tbody>
          </table>

          <br>

          <%= link_to 'New Deployment', new_deployment_path,  class: 'btn btn-primary' %>
        </div>
          </div>

      </div>
    </div>
  </div>
</div>
<!-- /page content -->

<!--Test Page specific JS -->
<!-- script> alert ('Test Page specific JS')</script -->




