<!-- page content -->
<%= render "partials/page_header_onetable" , locals: {title: "Deployment", xtitle:  "New Deployment" }%>

          <p id="notice"><%= notice %></p>
          <div class="x_content">

          <div class="col-md-6 col-xs-12">
            <%= render 'form' %>
          </div>


       </div>
          </div>

      </div>
    </div>
  </div>
</div>
<!-- /page content -->


<!--Test Page specific JS -->
<!-- script> alert ('Test Page specific JS')</script -->
