
<!-- page content -->
<%= render "partials/page_header_onetable" , locals: {title: "Deployment", xtitle:  "Deployment panel" }%>

<%= render "partials/flash" %>

          <div class="x_content">

                                <a class="btn btn-app">
                      <i class="fa fa-edit"></i> Edit
                    </a>
                    <a class="btn btn-app">
                      <i class="fa fa-play"></i> Play
                    </a>
                    <a class="btn btn-app">
                      <i class="fa fa-pause"></i> Pause
                    </a>
                    <a class="btn btn-app">
                      <i class="fa fa-save"></i> Save
                    </a>
<p>
  <strong>Name:</strong>
  <%= @deployment.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @deployment.image %>
</p>
<p>
  <strong>Repository:</strong>
  <%= @deployment.repository %>
</p>
<p>
  <strong>Commit:</strong>
  <%= @deployment.commit %>
</p>

<p>
  <strong>Pods:</strong>
  <%= @deployment.pods %>
</p>

<p>
  <strong>Namespace:</strong>
  <%= @deployment.namespace %>
</p>
            <p>
  <strong>Container Port:</strong>
  <%= @deployment.containerPort %>
</p>

<p>
  <strong>Version:</strong>
  <%= @deployment.version %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deployment.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @deployment.state %>
</p>

<h3>Environment variables</h3>
<% if @deployment.environment_variables.any? %>
    <% @deployment.environment_variables.each do |env| %>
    <ul><li><%= env %></li></ul>
    <% end %>

<% else %>
    not found
<% end %>
<h3>Labels</h3>
<% if @deployment.labels.any? %>
    <% @deployment.labels.each do |label| %>
        <ul><li><%= label %></li></ul>
    <% end %>

<% else %>
    not found
<% end %>
<br/>
<%= link_to 'Edit', edit_deployment_path(@deployment) , class: 'btn btn-primary'%> |
<%= link_to 'Back', deployments_path %>
          </div>
</div>

</div>
</div>
</div>
</div>
<!-- /page content -->

<!--Test Page specific JS -->
<!-- script> alert ('Test Page specific JS')</script -->
